/******************************************************************
Site Name:
Author:

Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports.

******************************************************************/
* { margin:0; padding:0; }
body { font:12px sans-serif; }
html, body, #map { height:100%; width:100%; margin:0; padding:0; }
p, ul { margin-bottom:10px; }
ul { margin-left:16px; }
#map { z-index:1; }
#vis, #controls { position:absolute; z-index:2; background:#78824F; background:rgba(120,130,79,0.85); box-shadow:0 0 20px black; color:#fff; }
#vis { top:0; width:100%; }
#graph { min-height:250px; display:none; }
#controls { width:100%; bottom:0; left:0; }
#controls h2, #vis h2 { text-align:center; font-style:italic; margin:2px; text-shadow:2px 3px 10px #333; }
.filter-toggle, .graph-toggle { cursor:pointer; }
.filter-toggle::before, .graph-toggle::before { content: "\2191"; font-size:15px; margin-right:5px; vertical-align:text-top; }
.filter-toggle.shown::before, .graph-toggle.shown::before { content: "\2193"; font-size:15px; margin-right:5px; vertical-align:text-top; }
/*.graph-toggle { cursor:pointer; }
.graph-toggle::before { content: "\2193"; font-size:15px; margin-right:5px; vertical-align:text-top; }
.graph-toggle.shown::before { content: "\2191"; font-size:15px; margin-right:5px; vertical-align:text-top; }*/
#filters { display:none; }
.filter-field { width:275px; margin:5px auto; }
.filter-field > label { float:left; margin-right:10px; font-weight:bold; min-width:75px; text-align:right; }
.filter-field input[type=text] { width:80px; text-align:center; }
input[value="Submit"] { float:right; margin:5px; width:185px; }
#incident-select { width:185px; }
#data-radios { margin-left:10px; }
#data-radios label { width:80px; }

/* Custom info button styles */
.vis-control-info, .leaflet-control-zoom { background:#78824F; background:rgba(120,130,79,0.85); }
.vis-control-info { padding:5px; moz-border-radius:7px; -webkit-border-radius:7px; border-radius:7px; }
.vis-control-info a { width:27px; height:27px; -moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px; background-position:50% 50%; background-repeat:no-repeat; display:block; background-color:rgba(255, 255, 255, 0.75); }
.vis-control-info a.vis-control-info-button { background-image: url(icons/PNGs/info.png); background-size:27px 27px; }

/* Zoom control adjustments */
.leaflet-control-zoom.leaflet-control { margin-top:35px !important; }

/* Popup CSS */
.leaflet-popup-content-wrapper, .leaflet-popup-tip { background:#78824F; background:rgba(120,130,79,0.85); color:white; }
.leaflet-container a.leaflet-popup-close-button { color:#AE5622; }
.leaflet-container a.leaflet-popup-close-button:hover { color:#D7AB91; }
h3.incidentID { text-align:center; font-style:italic; margin:2px; font-size:15px; }
.popupLabel { display:inline-block; width:55px; margin-right:10px; text-align:right; font-weight:bold; }




@media only screen and (min-width: 481px) {
	/******************************************************************
	Site Name: 
	Author: 

	Stylesheet: 481px and Up Stylesheet

	This stylesheet is loaded for larger devices. It's set to 
	481px because at 480px it would load on a landscaped iPhone.
	This isn't ideal because then you would be loading all those
	extra styles on that same mobile connection. 

	A word of warning. This size COULD be a larger mobile device,
	so you still want to keep it pretty light and simply expand
	upon your base.less styles.

	******************************************************************/
  
}







@media only screen and (min-width: 768px) {
	/******************************************************************
	Site Name:
	Author:

	Stylesheet: Tablet & Small Desktop Stylesheet

	Here's where you can start getting into the good stuff.
	This size will work on iPads, other tablets, and desktops.
	So you can start working with more styles, background images,
	and other resources. You'll also notice the grid starts to
	come into play. Have fun!

	******************************************************************/
	
	

}



@media only screen and (min-width: 1030px) {
	/******************************************************************
	Site Name: 
	Author: 

	Stylesheet: Desktop Stylsheet

	This is the desktop size. It's larger than an iPad so it will only
	be seen on the Desktop. 

	******************************************************************/
	
	#controls { bottom:10px; left:10px; border-radius:20px; width:375px; }
	#vis { top:auto; bottom:10px; left:400px; /*width:auto; min-width:250px;*/ width:300px; border-radius:20px; }
	
	
}